<!-- templates/index.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Stock Analysis</title>
</head>
<body>
    <h1>Stock Analysis</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file" id="file">
        <input type="submit" value="Upload" name="submit">
    </form>
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}

  <div class="text-center">
        <a class="btn btn-primary btn-lg" href="https://replit.com/@PankajKumar333/stockscreener#Output/ABC_20230719.xlsx" download="Output/ABC_20230719.xlsx">Download Excel File</a>
    </div>
</body>
</html>
